
	Future feature, sign in with FB or site option.
<form action ="/" method="post">
	<input type="text" name="username" placeholder="username" required>
	<br>
	<input type="password" name="password" required>
	<br>
	<input type="submit" name="submit" value="click it!">	
</form>
