
	<!-- Future feature, sign in with FB or site option. -->
<div id="sign-in_box">
	<p>Please sign in yo!</p>
<form action ="/" method="post">
	<input type="text" name="username" placeholder="username" required>
	<br>
	<input type="password" name="password" required>
	<br>
	<input type="submit" name="submit" value="click it!">	
</form>
</div>

<iframe src="winery_list" height = 50% width = 50%></iframe>
