
<head>
<link rel="stylesheet" type="text/css" href="normalize.css">
<link rel="stylesheet" type="text/css" href="style.css">
<!-- <link rel="stylesheet" type="text/css" href="public/reset.css"> -->
<title>Wine and Dash - The One Place to Plan your Wine Visits.</title>
</head>



<body>
</br>
<div id="title"><img src="images/title2.png" /></div>


</body>

<%= yield %>